<%- contentFor('body') %> 
<section class="login-box">
    <div class="login-box-body">
        <div class="row text-center img-logo">
            <img src="/images/logo_black.png" alt="" class="img-responsive">

        </div>
        <p class="login-box-msg">Login</p>

        <!-- aqui no atributo method tinha um erro ... por isso que o usuario e senha aparecia na url -->
        <form action="/auth" method="POST">
            <div class="form-group">
                <label for="email"> Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password"> Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </div>
        </form>
    </div>
</section>