.inline {
    display: inline-block;
}

.img-logo{
    align-items: center;
}

.img-responsive{
    margin-left: 25%;
    margin-bottom: 5%;
    height: 10rem;
    width: auto;
}

.login-page{
    background-color: #3C3838!important;
}

.login-box-body{
    border-radius: 15px;
}
