<%- contentFor('body') %> 

<section id="products">
    <div class="container">
         <div class="row">
             <div class="col-xs-12 col-md-3 col-lg-3 cat">
                  <h4 class="title upper bold">Category</h4>
                  <ul class="list-group">
                      <li class="list-group-item">
                           <a href="#">Cat 1</a>
                       </li>
                      <li class="list-group-item">
                           <a href="#">Cat 2</a>
                       </li>
                        <li class="list-group-item">
                            <a href="#">Cat 3</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Cat 4</a>
                        </li>
                  </ul>
             </div>
             <div class="col-xs-12 col-md-9 col-lg-9 list_pro">
                 <h4 class="title upper bold">Best sellers</h4>
                 <div class="row">
                    <div class="col-xs-12 col-md-4 product_item">
                        <div class="preview">
                            <img src="https://dummyimage.com/350x150/000/e8e9eb" class="img-responsive" alt="">
                        </div>
                        <div class="info">
                            <a href="/product/item-1">Item 1</a>
                            <div class="price">
                                <Strong>R$100,00</Strong>
                                <a href="/product/item-1" class="btn btn-red-default">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 product_item">
                        <div class="preview">
                            <img src="https://dummyimage.com/350x150/000/e8e9eb" class="img-responsive" alt="">
                        </div>
                        <div class="info">
                            <a href="#">Item 1</a>
                            <div class="price">
                                <Strong>R$100,00</Strong>
                                <a href="#" class="btn btn-red-default">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 product_item">
                        <div class="preview">
                            <img src="https://dummyimage.com/350x150/000/e8e9eb" class="img-responsive" alt="">
                        </div>
                        <div class="info">
                            <a href="#">Item 1</a>
                            <div class="price">
                                <Strong>R$100,00</Strong>
                                <a href="#" class="btn btn-red-default">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 product_item">
                        <div class="preview">
                            <img src="https://dummyimage.com/350x150/000/e8e9eb" class="img-responsive" alt="">
                        </div>
                        <div class="info">
                            <a href="#">Item 1</a>
                            <div class="price">
                                <Strong>R$100,00</Strong>
                                <a href="#" class="btn btn-red-default">See more</a>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>
</section>

<section id="line"></section>

    <section id="steps">
        <div class="container">
            <div class="row">
                <h4 class="title upper bold">Why ?</h4>
                <div class="col-xs-12 col-md-4 step">
                   <i class="fa fa-list one"></i>
                    <h4 class="upper bold">Title</h4>
                    <p>Texte</p>
                </div>
                <div class="col-xs-12 col-md-4 step">
                    <i class="fa fa-truck two"></i>
                    <h4 class="upper bold">Title</h4>
                     <p>Texte</p>
                 </div>
                <div class="col-xs-12 col-md-4 step">
                    <i class="fa fa-heart three"></i>
                    <h4 class="upper bold">Title</h4>
                     <p>Texto</p>
                 </div>
            </div>
        </div>
    </section>


    
